.container {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background-color: blue;
  background-color: black;
}

.canvas {

 width: 400px;
 height: 400px;

}

.wireframe-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  /* Button color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Add hover effect */
.wireframe-toggle {
  background-color: #0056b3;
}

.header {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.header h1 {
  font-size: 1.1rem
}

.about-section {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 580px;
  text-align: center;
}

.about-section-text p {
  font-size: .7rem;
}

.about-section-button-btn {
  margin-top: 1.5rem;
  font-size: .7rem;
  background-color: transparent;
  border: solid white 1px;
  padding: 0.75rem 2rem 0.75rem 2rem;
  width: 40%
}

.about-section-button-btn:hover{
  background-color: white;
  color: #ACCCD7;
  transition: 0.4s;
  cursor: pointer;
}

.love-you-forever{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.love-you-forever img{
  width: 300px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .about-section,
  .love-you-forever {
    width: 90%; /* Adjust the width for smaller screens */
    max-width: none; /* Remove the maximum width for smaller screens */
  }
  .about-section-button-btn {
    margin-top: 1.5rem;
    font-size: .7rem;
    background-color: transparent;
    border: solid white 1px;
    width: 100%;
    padding: 0.75rem 2rem 0.75rem 2rem;
  }
}

