/*--- Header ---*/
.header {
  position: relative;
  height: 100vh;
  background-color: #ACCCD7;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
}

.header-text h1{
  width: 900px;
}


.header-subtext {
  position: absolute;
  top: 3rem;
  transform: translateX(-50%);
  width: 80%;
}

/*--- End Header ---*/


.canvas {
  /* position: fixed; */
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background-color: rgb(221, 221, 221);
  /* background-color: #ACCCD7; */
  background: linear-gradient(to bottom, #ACCCD7, #d3d3d3);
}

.toggle-box-button{
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 1rem;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-box-button-container{
  background-color: red;
  cursor: pointer;
  
}

.wireframe-toggle {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  /* Button color */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Add hover effect */
.wireframe-toggle {
  background-color: #0056b3;
}

/*--- ABOUT SECTION ---*/
.about-container {
  display: flex;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  /* background: linear-gradient(to bottom, #d3d3d3, #ababab); */
  background-color: #466c95;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-header-text {
  position: relative;
  text-align: center;
  font-size: 1rem;
  max-width: 700px;
  min-width: 500px;
  font-weight: 500;
}

.book-container{
  display: flex;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(to bottom, #466c95, #ACCCD7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*--- END ABOUT SECTION ---*/

/*--- HERITAGE SECTION ---*/



.heritage-container {
  height: 100vh;
  cursor: pointer;
  background-color: black;
}

/*--- END HERITAGE SECTION ---*/



/* Media query for mobile devices */
@media screen and (max-width: 767px) {

  .about-section,
  .love-you-forever {
    width: 90%;
    /* Adjust the width for smaller screens */
    max-width: none;
    /* Remove the maximum width for smaller screens */
  }

  .about-section-button-btn {
    margin-top: 1.5rem;
    font-size: .7rem;
    background-color: transparent;
    border: solid white 1px;
    width: 100%;
    padding: 0.75rem 2rem 0.75rem 2rem;
  }
}